*.js linguist-language=Other
*.mjs linguist-language=Other
*.cjs linguist-language=Other

*.html linguist-language=Other
*.htm linguist-language=Other

*.css linguist-language=Other
*.less linguist-language=Other
*.sass linguist-language=Other

*.js  linguist-detectable=false
*.mjs linguist-detectable=false
*.cjs linguist-detectable=false

*.html linguist-detectable=false
*.htm linguist-detectable=false

*.css linguist-detectable=false
*.less linguist-detectable=false
*.sass linguist-detectable=false
